.table{
	background: white;
	margin-top: 3rem;
}

.message{
	text-align: center;
}

.flex-container{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.remove-stock-button{
	border-radius: 8px;
	background-color: #702872;
	color: white;
	margin-left: 2rem;
	border-color: white;
	font-size: 1em;
}

.remove-stock-button:hover{
	background-color: #b01d77;
	color: white;
}