.jumbotron{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 450px;
	text-align: center;
}

.the_button{
	padding-top:10px;
}

html,body{
    width:100%;
    margin:0;
    height:100%;
}

.no-account{
	margin-top: 2rem;
	font-size: 5px;
}

.login-link{
	color:#702872;
	text-decoration: none;
}

.login-link:hover{
	color: #b01d77;
	text-decoration: none;
}


body{
	background-image: url("earth-lights-world.jpg");
}